<div class="connect-container">
    <h2 class="name">Hi, I am Gijo Eldhose</h2>
    <p class="bio">"Life is a journey, not a destination. Along the way, you'll encounter challenges, setbacks, and triumphs. Embrace them all, for they shape who you are. Don't be afraid to step outside of your comfort zone, to take risks, and to make mistakes. Learn from your experiences, both good and bad. Cherish the moments of joy and find strength in the face of adversity. Remember, the most important thing is not to reach the end, but to savor the journey."</p>
    <div class="social-media">
      <a href="https://www.github.com/your-profile" target="_blank">
        <img src="https://i.pinimg.com/736x/b5/1b/78/b51b78ecc9e5711274931774e433b5e6.jpg" alt="github">
      </a>
      <a href="https://www.instagram.com/your-profile" target="_blank">
        <img src="https://i.pinimg.com/736x/21/d6/7f/21d67f1d6b3be5bb2e39395311c77fc6.jpg" alt="Instagram">
      </a>
      <a href="https://www.twitter,com/your-profile" target="_blank">
        <img src="https://i.pinimg.com/736x/1e/19/ab/1e19abe97dd93670084966606faae54c.jpg" alt="twitter">
      </a>
      <a href="https://www.linkedin.com/your-profile" target="_blank">
        <img src="https://i.pinimg.com/564x/6b/ab/30/6bab3017350ca04c6fa05569672bd31e.jpg" alt="linkedin">
      </a>
      </div>
  </div>